<!-- profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/stylesheets/profileStyle.css"> <!-- Adjust the path to your CSS file -->
</head>
<body>
    <div class="profile-container">
        <div class="user-info">
            <div>
                <h2>Προφιλ Χρήστη: <%= user.username  %></h2>
                <div class="profile-picture">
                    <img src="../images/profilePicture.jpg" alt="Profile Picture">

                </div>
                
            </div>
            <div>
                <p><strong>Ονοματεπώνυμο:</strong> <%= user.first_name %> <%= user.surname %></p>
                <p><strong>E-mail:</strong> <%= user.email %></p>
                <p><strong>Ημερομηνία Γέννησης:</strong> <%= user.year_of_birth || 'Not provided' %></p>
                <p><strong>Μέσος Όρος:</strong> <%= user.average_grade.toFixed(2) %>%</p>
            </div>
        </div>
        <div class="table-container">
            <h3>Ιστορικό Επιδόσεων</h3>
            <table>
                <thead>
                    <tr>
                        <th>Κεφάλαιο Διαγωνίσματος</th>
                        <th>Βαθμολογία</th>
                        <th>Ημερομηνία</th>
                    </tr>
                </thead>
                <tbody>
                    <% user.performance_history.forEach((entry) => { %>
                        <tr>
                            <td><%= entry.quiz_chapter %></td>
                            <td><%= entry.grade.toFixed(2) %>%</td>
                            <td><%= new Date(entry.quiz_date).toLocaleDateString() %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

