<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="../stylesheets/quizStyle.css">
</head>
<body>
    <div class="container">
        <h1>Quiz</h1>
        <form action="/submit-quiz" method="POST">
            <% questions.forEach((question, index) => { %>
                <div class="question">
                    <p><%= question.text %></p>
                    <% question.options.forEach((option, optionIndex) => { %>
                        <div>
                            <input type="radio" name="question_<%= index %>" id="question_<%= index %>_option_<%= optionIndex %>" value="<%= option %>">
                            <label for="question_<%= index %>_option_<%= optionIndex %>"><%= option %></label>
                        </div>
                    <% }) %>
                </div>
            <% }) %>
            <button type="submit">Submit Quiz</button>
        </form>
    </div>
</body>
</html>
